x-proxy-list: &proxy-list
  - HTTP_PROXY=${HTTP_PROXY}
  - HTTPS_PROXY=${HTTPS_PROXY}
  - NO_PROXY=${NO_PROXY}
  - http_proxy=${http_proxy}
  - https_proxy=${https_proxy}
  - no_proxy=${no_proxy}

x-proxies: &proxies
  args: *proxy-list

services:
  geti-inspect:
    image: geti-inspect-${AI_DEVICE:-cpu}:${TAG:-latest}
    environment: *proxy-list
    restart: unless-stopped
    build:
      # Use root directory as context to build the image
      context: ../..
      dockerfile: application/docker/Dockerfile
      target: geti-inspect-${AI_DEVICE:-cpu}
      <<: *proxies
    working_dir: /app/application/backend
    container_name: geti-inspect-${AI_DEVICE:-cpu}
    # Uncomment the following lines to enable torch XPU support
    # For more info, see README.md
    # group_add:
    #   - "${RENDER_GROUP_ID}" # This is needed to allow access to the 'render' group for torch XPU support
    volumes:
      # Persist database and uploaded data
      - /backend/data:/app/data
      # Persist logs
      - /backend/logs:/app/logs
    ports:
      - "8000:8000"
    # Increase file descriptor limits
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    # Uncomment the following lines to enable GPU support (NVIDIA GPUs only)
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
    # Map all host devices to provide access to webcams and other attached devices
    privileged: true
    devices:
      - /dev:/dev
