.canvasContainer {
    display: grid;
    grid-template-areas: 'innercanvas';
    overflow: hidden;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--spectrum-global-dimension-size-1200);
}

.inferencedImage {
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.notReadyInference {
    filter: grayscale(1) blur(8px);
}

.canvasItem {
    grid-area: innercanvas;
}

.playButton {
    display: flex;
    gap: var(--spectrum-global-dimension-size-400);
    align-items: center;
    padding: var(--spectrum-global-dimension-size-1200);
    position: relative;
    border-radius: var(--spectrum-alias-border-radius-medium);
}
